.login-form-container {
    display: flex;
    justify-content: center;
    min-height: 60vh;
    align-items:center;
}

.lab2-login-form {
    width:300px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family:sans-serif;
    letter-spacing: 1px;
}

.lab2-login-form input,
.lab2-login-form button{
    font-family:sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    background-color: transparent;
}

.lab2-login-form h1 {
    text-align:center;
    margin: 0;
    font-weight: normal;
}

.lab2-login-form div {
    position:relative;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.lab2-login-form input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
}

.lab2-login-form a {
    color: #082567;
}

.lab2-login-form .registration-link {
    display: flex;
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 0;
}